@{
    ViewBag.Title = "Home";
}

<article class="well">
    <div class="title">
        <i class="fa fa-desktop"></i> Configuração Mínima:
    </div>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td colspan="2">•   Sistema desenvolvido para resolução mínima de 1024x768 para desktops e 320x240 para plataformas mobile</td>
            </tr>
            <tr>
                <td colspan="2">Suporte aos seguintes browsers:</td>
            </tr>
            <tr>
                <td></td>
                <td>IE (Internet Explorer) 9.0 ou superior</td>
            </tr>
            <tr>
                <td></td>
                <td>Chrome 31.0.1650.63 ou superior</td>
            </tr>
            <tr>
                <td></td>
                <td>Firefox 14.0.1 ou superior</td>
            </tr>
            <tr>
                <td></td>
                <td>Safari</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">Problemas de visualização IE (Internet Explorer):</td>
            </tr>

            <tr>
                <td colspan="2">Caso você esteja utilizando IE e o layout da pagina esteja sobreposto ou não esteja conseguindo ler os textos. Observe as seguintes configurações:</td>
            </tr>
            <tr>
                <td></td>
                <td>Com o site aberto pressione F12, verifique o Modo do Navegador e o Modo de documento padrão, as duas opções devem estar como Internet Explorer 9.0 ou superior.</td>
            </tr>
        </tbody>
    </table>
</article>